#main-menubar>#file-menu{-moz-image-region:rect(48px 496px 64px 480px)!important;list-style-image:url("mosaic.png")!important}
#main-menubar>#file-menu:hover{-moz-image-region:rect(48px 240px 64px 224px)!important}
#main-menubar>#edit-menu{-moz-image-region:rect(0 368px 16px 352px)!important;list-style-image:url("mosaic.png")!important}
#main-menubar>#edit-menu:hover{-moz-image-region:rect(0 112px 16px 96px)!important}
#main-menubar>#view-menu{-moz-image-region:rect(16px 288px 32px 272px)!important;list-style-image:url("mosaic.png")!important}
#main-menubar>#view-menu:hover{-moz-image-region:rect(16px 32px 32px 16px)!important}
#main-menubar>#history-menu{-moz-image-region:rect(96px 368px 112px 352px)!important;list-style-image:url("mosaic.png")!important}
#main-menubar>#history-menu:hover{-moz-image-region:rect(96px 112px 112px 96px)!important}
#main-menubar>#bookmarksMenu{-moz-image-region:rect(0 496px 16px 480px)!important;list-style-image:url("mosaic.png")!important}
#main-menubar>#bookmarksMenu:hover{-moz-image-region:rect(0 240px 16px 224px)!important}
#main-menubar>#tools-menu{-moz-image-region:rect(80px 432px 96px 416px)!important;list-style-image:url("mosaic.png")!important}
#main-menubar>#tools-menu:hover{-moz-image-region:rect(80px 176px 96px 160px)!important}
#main-menubar>#helpMenu{-moz-image-region:rect(64px 432px 80px 416px)!important;list-style-image:url("mosaic.png")!important}
#main-menubar>#helpMenu:hover{-moz-image-region:rect(64px 176px 80px 160px)!important}
