!.gitignore
source/config.xml
*.iso
*.sha256
*.packages
source/root/etc/os-release
source/root/home/hacker/*.tar.xz
source/root/home/hacker/README.md
source/root/home/hacker/ChangeLog*
source/root/home/hacker/.mozilla/firefox/y30d7fz5.hacker/healthreport.sqlite
source/root/home/hacker/.mozilla/firefox/y30d7fz5.hacker/datareporting/**
source/root/home/hacker/.mozilla/firefox/y30d7fz5.hacker/gmp-gmpopenh264/**
source/root/home/hacker/.mozilla/firefox/y30d7fz5.hacker/healthreport/**
source/root/home/hacker/.mozilla/firefox/y30d7fz5.hacker/minidumps/**
source/root/home/hacker/.mozilla/firefox/y30d7fz5.hacker/saved-telemetry-pings/**
source/root/home/hacker/.mozilla/firefox/y30d7fz5.hacker/sessions/**
source/root/home/hacker/.mozilla/firefox/y30d7fz5.hacker/sessionstore-backups/**
source/root/home/hacker/.thunderbird/mcos93yg.hacker/crashes/**
source/root/home/hacker/.thunderbird/mcos93yg.hacker/minidumps/**
