[Desktop Entry]
Icon=image-jpeg
Name=1920x1080.jpg
Type=Link
URL[$e]=file:///usr/share/wallpapers/HSF/contents/images/1920x1080.jpg
X-KDE-LastOpenedWith=kfilemodule
