<UserScriptConfig>
	<Script author="Reek | reeksite.com" basedir="Anti-Adblock_Killer_Reek" checkRemoteUpdates="1" dependhash="7ecfbee51d3094add21c71ab714cdeb469a482e3" description="Helps you keep your Ad-Blocker active, when you visit a website and it asks you to disable." enabled="false" filename="anti-adblock-killer.user.js" installTime="1501400263000" modified="1501400263000" name="Anti-Adblock Killer | Reek" namespace="https://userscripts.org/scripts/show/155840" noframes="false" runAt="document-start" updateMetaStatus="fail" uuid="3cee3261-df2f-4796-a549-7891c23e92de" version="10.0" installurl="https://raw.githubusercontent.com/reek/anti-adblock-killer/master/anti-adblock-killer.user.js" updateurl="https://raw.githubusercontent.com/reek/anti-adblock-killer/master/anti-adblock-killer.user.js" icon="anti-adblock-killer-icon.png">
		<Grant>unsafeWindow</Grant>
		<Grant>GM_addStyle</Grant>
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Grant>GM_registerMenuCommand</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_listValues</Grant>
		<Grant>GM_getResourceText</Grant>
		<Grant>GM_getResourceURL</Grant>
		<Grant>GM_log</Grant>
		<Grant>GM_openInTab</Grant>
		<Grant>GM_setClipboard</Grant>
		<Grant>GM_info</Grant>
		<Grant>GM_getMetadata</Grant>
		<Include>http://*/*</Include>
		<Include>https://*/*</Include>
	</Script>
</UserScriptConfig>