[Desktop Entry]
Exec=lxqt-appswitcher
Name=Application Switcher
Name[ar]=مُبدِّل التطبيقات
Name[cs]=Přepínač programů
Name[cs_CZ]=Přepínač programů
Name[da]=Programskifter
Name[da_DK]=Programskifter
Name[de_DE]=Fensterwechsler
Name[el_GR]=Εναλλαγή εφαρμογών
Name[eo]=Ŝaltilo de aplikaĵoj
Name[es]=Selector de aplicaciones
Name[es_VE]=Cambiador de ventanas activas
Name[eu]=Aplikazio-aldatzailea
Name[fi]=Sovellusvaihdin
Name[fr_FR]=Basculer entre les fenêtres ouvertes
Name[hu]=Alkalmazásváltó
Name[it_IT]=Switcher applicazioni
Name[ja]=アプリケーション切替ウィンドウ
Name[lt]=Programų perjungimas
Name[nl]=Programma Wisselaar
Name[pl_PL]=Przełącznik programów
Name[pt]=Alternador de aplicações
Name[pt_BR]=Alternador de aplicativos
Name[ro_RO]=Comutator de aplicații
Name[ru]=переключениk программа
Name[ru_RU]=Переключатель программ
Name[sl]=Preklapljanje med programi
Name[th_TH]=ตัวสลับการใช้งานโปรแกรม
Name[tr]=Uygulama Seçici
Name[uk]=Перемикач вікон
Name[zh_CN]=程序切换器
Name[zh_TW]=應用程式切換器
OnlyShowIn=LXQt;
TryExec=lxqt-appswitcher
Type=Application
X-LXQt-Module=true
