[Desktop Entry]
Type=Application
Name=QasMixer
GenericName=Sound volume mixer
GenericName[de]=Klanglautstärkenregler
Exec=qasmixer
Icon=qasmixer
StartupNotify=false
Terminal=false
Categories=AudioVideo;Mixer;
Comment=Graphical mixer application for the ALSA
Comment[cs]=Grafický směšovač pro ALSA
Comment[de]=Graphische Mixeranwendung für ALSA
Comment[es]=Mezclador gráfico para ALSA
Comment[ru]=Графический микшер для звуковой системы ALSA

