[Desktop Entry]
Categories=System;Monitor;
Encoding=UTF-8
Exec=conky
GenericName=System Monitor
Hidden=true
Name=Conky
StartupNotify=false
Terminal=false
Type=Application
