[Desktop Entry]
Categories=System;Monitor;
Encoding=UTF-8
Terminal=false
Exec=conky
Type=Application
StartupNotify=false
Name=Conky
GenericName=System Monitor

