[Desktop Entry]
X-SuSE-translate=false
Name=Final Term
GenericName=Terminal
GenericName[de]=Terminal
GenericName[hu]=Terminál
Comment=Don't just use your system — command it!
Comment[de]=Benutzen Sie Ihr System nicht einfach — befehligen Sie es!
Comment[hu]=Ne csak használd a rendszered — irányítsd!
Exec=finalterm
Icon=final-term
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Actions=NewWindow;

[Desktop Action NewWindow]
Name=Open a New Window
Exec=finalterm

