[Desktop Entry]
Categories=Utility;X-SuSE-DesktopUtility;
Comment=Temporarily deactivate the screensaver and sleep mode
Encoding=UTF-8
Exec=/usr/bin/caffeine
Icon=caffeine
Name=Caffeine
StartupNotify=false
Terminal=false
Type=Application
