[Desktop Entry]
Exec=gnome-keyring-daemon --start --daemonize && export SSH_AUTH_SOCK
Name=gnome-keyring-daemon
Type=Application
Version=1.0
X-LXQt-Need-Tray=true
