[Desktop Entry]
Categories=GNOME;GTK;Utility;X-SuSE-DesktopUtility;
Comment=Take notes, link ideas, and stay organised
Comment[en_GB]=Take notes, link ideas, and stay organised
Exec=gnote %u
GenericName=Note-taker
GenericName[en_GB]=Note-taker
Hidden=false
Icon=gnote
Keywords=note;idea;link;organize;
Keywords[ar]=ملاحظة;فكرة;ملاحظات;وصلة;رابط;
Keywords[as]=টোকা;বুদ্ধি;সংযোগ;সংঘটন;
Keywords[cs]=poznámka;nápad;myšlenka;odkaz;uspořádat;
Keywords[de]=Notiz;Idee;Zettel;Liste;
Keywords[el]=σημείωση;ιδέα;σύνδεσμος;οργάνωση;
Keywords[es]=nota;idea;enlace;organizar;
Keywords[fr]=note;idée;lien;organiser;
Keywords[gl]=nota;idea;ligazón;organizar;
Keywords[gu]=નોંધ;વિચાર;કડી;સંચાલન;
Keywords[hi]=note;idea;link;organize;
Keywords[hu]=jegyzet;ötlet;hivatkozás;szervezés;
Keywords[ja]=note;idea;link;organize;メモ;アイデア;リンク;オーガナイザー;notebooks;
Keywords[kn]=ಟಿಪ್ಪಣಿ;ಆಲೋಚನೆ;ಕೊಂಡಿ;ವ್ಯವಸ್ಥಾಪಿಸು;
Keywords[lt]=raštelis;idėja;saitas;tvarkyti;
Keywords[mr]=टिप;आइडिया;लिंक;ऑर्गनाइज;
Keywords[or]=note;idea;link;organize;
Keywords[pa]=ਨੋਟ;ਵਿਚਾਰ;ਲਿੰਕ;ਪਰਬੰਧ;note;idea;link;organize;
Keywords[pl]=notatka;pomysł;idea;odnośnik;link;organizacja;organizuj;
Keywords[pt_BR]=nota;notas;ideia;ideias;link;organizar;
Keywords[ru]=заметка;идея;ссылка;упорядочивание;
Keywords[sl]=sporočilce;zamisel;ideja;povezava;organizacija;
Keywords[sr@latin]=beleška;ideja;misao;poveži;sredi;
Keywords[sr]=белешка;идеја;мисао;повежи;среди;
Keywords[ta]=note;idea;link;organize;
Keywords[te]=note;idea;link;organize;
Keywords[zh_HK]=筆記;創意;連結;組織;
Keywords[zh_TW]=筆記;創意;連結;組織;
MimeType=
Name=Gnote
Name[en_GB]=Gnote
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=main
X-GNOME-Bugzilla-Product=gnote
X-GNOME-Bugzilla-Version=3.10.0
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SuSE-translate=true
