[Desktop Entry]
Categories=GNOME;Utility;Applet;
Comment=Manage Killswitches
Exec=killswitch-applet
GenericName=Killswitch Applet
Hidden=true
Icon=killswitch-applet
Name=Killswitch Applet
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=true
X-SuSE-translate=true
