[Desktop Entry]
Exec=lxqt-policykit-agent
Hidden=true
Name=PolicyKit Handler
Name[ar]=معالج وحدة السِّياسة بوليسي كيت
Name[cs]=Zacházení s politikami
Name[cs_CZ]=Zacházení s politikami
Name[da]=Håndtering af retningslinier
Name[da_DK]=Politikhåndtering
Name[de_DE]=PolicyKit-Steuerung
Name[el_GR]=Χειριστής PolicyKit
Name[eo]=Traktilo de PolicyKit
Name[es]=Manipulador de PolicyKit
Name[es_VE]=Encargado del Kit de politicas
Name[eu]=PolicyKit maneiatzailea
Name[fi]=PolicyKit-käsittelijä
Name[fr_FR]=Gestionnaire de PolicyKit
Name[hu]=PolicyKit-kezelő
Name[it_IT]=Gestore di PolicyKit
Name[ja]=PolicyKitハンドラ
Name[lt]=PolicyKit valdymas
Name[nl]=PolicyKit Handler
Name[pl_PL]=PolicyKit Handler
Name[pt]=Gestor de políticas
Name[pt_BR]=Manipulador PolicyKit
Name[ru]=политики комплект Обработчик
Name[ru_RU]=Обработчик PolicyKit
Name[sl]=Upravljalnik PolicyKit
Name[th_TH]=ตัวจัดการ PolicyKit
Name[tr]=PolicyKit İşleyici
Name[uk]=Маніпулятор PolicyKit
Name[zh_CN]=PolicyKit 处理器
Name[zh_TW]=PolicyKit處理器
OnlyShowIn=LXQt;
TryExec=lxqt-policykit-agent
Type=Application
X-LXQt-Module=true
