[Desktop Entry]
Type=Application
Name=Desktop
Exec=nitrogen --restore 
TryExec=nitrogen
OnlyShowIn=LXQt;
X-LXQt-Module=true

Name[de_DE]=Desktop
Name[lt]=Darbalaukis
Name[ja]=デスクトップ
Name[ar]=سطح المكتب
Name[el_GR]=Επιφάνεια εργασίας
Name[zh_CN]=桌面
Name[it_IT]=Desktop
Name[ru_RU]=Рабочий стол
Name[da_DK]=Skrivebord
Name[sl]=Namizje
Name[ru]=Pабочий стол
Name[uk]=Стільниця
Name[hu]=Asztal
Name[es_VE]=Escritorio
Name[da]=Skrivebord
Name[tr]=Masaüstü
Name[cs_CZ]=Plocha
Name[pl_PL]=Pulpit
Name[pt_BR]=Área de trabalho
Name[th_TH]=เดสก์ท็อป
Name[es]=Escritorio
Name[fr_FR]=Bureau
Name[ia]=Scriptorio
Name[nl]=Bureaublad
Name[cs]=Plocha
Name[eu]=Mahaigaina
Name[pt]=Área de trabalho
Name[zh_TW]=桌面
Name[fi]=Työpöytä
Name[eo]=Labortablo
Name[ro_RO]=Desktop
