[Desktop Entry]
Categories=System;RemoteAccess;
Comment=Obexd Server Daemon
Exec=/usr/lib64/obex/obexd --nodaemon -a --root=Public --root-setup=/usr/lib64/obex/obexd-setup.sh
Hidden=true
Name=Obexd Server
Terminal=false
Type=Application
X-GNOME-Autostart-enable=true
X-Moblin-Priority=Low
X-SuSE-translate=true
