[Desktop Entry]
Categories=AudioVideo;Mixer;
Comment=Graphical mixer application for the ALSA
Comment[cs]=Grafický směšovač pro ALSA
Comment[de]=Graphische Mixeranwendung für ALSA
Comment[es]=Mezclador gráfico para ALSA
Comment[ru]=Графический микшер для звуковой системы ALSA
Exec=qasmixer -t
GenericName=Sound volume mixer
GenericName[de]=Klanglautstärkenregler
Icon=qasmixer
Name=QasMixer
StartupNotify=false
Terminal=false
Type=Application
X-LXQt-Need-Tray=true
