[Desktop Entry]
Categories=Music;AudioVideo;
Comment=QjackCtl is a JACK Audio Connection Kit Qt GUI Interface
Comment[de]=Grafisches Werkzeug zur Steuerung des JACK-Audio-Systems
Comment[fr]=QjackCtl est une interface graphique Qt pour le kit de connexion audio JACK
Comment[it]=QjackCtl è un'interfaccia di controllo per JACK basata su Qt
Comment[ru]=Программа для управления звуковым сервером JACK
Exec=qjackctl
GenericName=JACK Control
GenericName[de]=JACK-Steuerung
GenericName[fr]=Contrôle JACK
GenericName[it]=Interfaccia di controllo per JACK
GenericName[ru]=Управление JACK
Icon=qjackctl
Name=QjackCtl
Terminal=false
Type=Application
Version=1.0
X-LXQt-Need-Tray=true
