[Desktop Entry]
Categories=Settings;DesktopSettings;Security;X-XFCE;
Comment[en_GB]=Draws pretty images while user is idle
Comment=Draws pretty images while user is idle
Encoding=UTF-8
Exec=xscreensaver -no-splash &
GenericName[en_GB]=X Screensaver daemon
GenericName=X Screensaver daemon
Icon=xscreensaver
MimeType=
Name[en_GB]=XScreensaver
Name=XScreensaver
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
