[Desktop Entry]
Comment=Sets ICC profiles and loads calibration curves for all configured display devices
Encoding=UTF-8
Exec=dispcalGUI-apply-profiles
GenericName=Calibration and ICC Profile Loader
Hidden=true
Icon=dispcalGUI-apply-profiles
Name=Calibration Loader
Terminal=false
Type=Application
Version=1.0
X-SuSE-translate=true
