!.gitignore
root/etc/skel/.gtkrc-2.0
root/root/.gtkrc-2.0
root/home/hacker/.gtkrc-2.0
root/etc/skel/.dmrc
root/root/.dmrc
root/home/hacker/.dmrc
root/etc/skel/index.theme
root/root/index.theme
root/home/hacker/index.theme
root/etc/skel/bfd7254e-7b2e-4452-a3d4-d7094cf87b8d.note
root/root/bfd7254e-7b2e-4452-a3d4-d7094cf87b8d.note
root/home/hacker/bfd7254e-7b2e-4452-a3d4-d7094cf87b8d.note
root/etc/skel/eb6b10e8-87b6-4c77-9bd5-530599f1a4ff.note
root/root/eb6b10e8-87b6-4c77-9bd5-530599f1a4ff.note
root/home/hacker/eb6b10e8-87b6-4c77-9bd5-530599f1a4ff.note
root/etc/skel/magic
root/root/magic
root/home/hacker/magic
root/etc/skel/globs
root/root/globs
root/home/hacker/globs
root/etc/skel/user-extension-htm.xml
root/root/user-extension-htm.xml
root/home/hacker/user-extension-htm.xml
root/etc/skel/user-extension-html.xml
root/root/user-extension-html.xml
root/home/hacker/user-extension-html.xml
root/etc/skel/user-extension-shtml.xml
root/root/user-extension-shtml.xml
root/home/hacker/user-extension-shtml.xml
root/etc/skel/user-extension-eml.xml
root/root/user-extension-eml.xml
root/home/hacker/user-extension-eml.xml
root/etc/skel/user-extension-xht.xml
root/root/user-extension-xht.xml
root/home/hacker/user-extension-xht.xml
root/etc/skel/user-extension-xhtml.xml
root/root/user-extension-xhtml.xml
root/home/hacker/user-extension-xhtml.xml
root/etc/skel/user-extension-rss.xml
root/root/user-extension-rss.xml
root/home/hacker/user-extension-rss.xml
root/etc/skel/globs2
root/root/globs2
root/home/hacker/globs2
root/etc/skel/aliases
root/root/aliases
root/home/hacker/aliases
root/etc/skel/icons
root/root/icons
root/home/hacker/icons
root/etc/skel/types
root/root/types
root/home/hacker/types
root/etc/skel/XMLnamespaces
root/root/XMLnamespaces
root/home/hacker/XMLnamespaces
root/etc/skel/x-extension-xhtml.xml
root/root/x-extension-xhtml.xml
root/home/hacker/x-extension-xhtml.xml
root/etc/skel/x-extension-htm.xml
root/root/x-extension-htm.xml
root/home/hacker/x-extension-htm.xml
root/etc/skel/x-extension-rss.xml
root/root/x-extension-rss.xml
root/home/hacker/x-extension-rss.xml
root/etc/skel/x-extension-shtml.xml
root/root/x-extension-shtml.xml
root/home/hacker/x-extension-shtml.xml
root/etc/skel/x-extension-xht.xml
root/root/x-extension-xht.xml
root/home/hacker/x-extension-xht.xml
root/etc/skel/x-extension-html.xml
root/root/x-extension-html.xml
root/home/hacker/x-extension-html.xml
root/etc/skel/x-extension-eml.xml
root/root/x-extension-eml.xml
root/home/hacker/x-extension-eml.xml
root/etc/skel/generic-icons
root/root/generic-icons
root/home/hacker/generic-icons
root/etc/skel/mime.cache
root/root/mime.cache
root/home/hacker/mime.cache
root/etc/skel/subclasses
root/root/subclasses
root/home/hacker/subclasses
root/etc/skel/version
root/root/version
root/home/hacker/version
root/etc/skel/treemagic
root/root/treemagic
root/home/hacker/treemagic
root/etc/skel/kate-2.desktop
root/root/kate-2.desktop
root/home/hacker/kate-2.desktop
root/etc/skel/mimeapps.list
root/root/mimeapps.list
root/home/hacker/mimeapps.list
root/etc/skel/.xscreensaver
root/root/.xscreensaver
root/home/hacker/.xscreensaver
root/etc/skel/global-output.jam
root/root/global-output.jam
root/home/hacker/global-output.jam
root/etc/skel/jamin-defaults
root/root/jamin-defaults
root/home/hacker/jamin-defaults
root/etc/skel/.jackdrc
root/root/.jackdrc
root/home/hacker/.jackdrc
root/etc/skel/.Xdefaults
root/root/.Xdefaults
root/home/hacker/.Xdefaults
root/etc/skel/.zshrc
root/root/.zshrc
root/home/hacker/.zshrc
root/etc/skel/cookies
root/root/cookies
root/home/hacker/cookies
root/etc/skel/dolphinui.rc
root/root/dolphinui.rc
root/home/hacker/dolphinui.rc
root/etc/skel/.directory
root/root/.directory
root/home/hacker/.directory
root/etc/skel/.directory
root/root/.directory
root/home/hacker/.directory
root/etc/skel/.directory
root/root/.directory
root/home/hacker/.directory
root/etc/skel/.directory
root/root/.directory
root/home/hacker/.directory
root/etc/skel/.directory
root/root/.directory
root/home/hacker/.directory
root/etc/skel/.directory
root/root/.directory
root/home/hacker/.directory
root/etc/skel/Shell.profile
root/root/Shell.profile
root/home/hacker/Shell.profile
root/etc/skel/screenshot.jpg.desktop
root/root/screenshot.jpg.desktop
root/home/hacker/screenshot.jpg.desktop
root/etc/skel/1920x1080.jpg.desktop
root/root/1920x1080.jpg.desktop
root/home/hacker/1920x1080.jpg.desktop
root/etc/skel/metainfos
root/root/metainfos
root/home/hacker/metainfos
root/etc/skel/wX6269rc
root/root/wX6269rc
root/home/hacker/wX6269rc
root/etc/skel/useractions.xml
root/root/useractions.xml
root/home/hacker/useractions.xml
root/etc/skel/kcmbellrc
root/root/kcmbellrc
root/home/hacker/kcmbellrc
root/etc/skel/katerc
root/root/katerc
root/home/hacker/katerc
root/etc/skel/ktimezonedrc
root/root/ktimezonedrc
root/home/hacker/ktimezonedrc
root/etc/skel/kfontinstuirc
root/root/kfontinstuirc
root/home/hacker/kfontinstuirc
root/etc/skel/knotifyrc
root/root/knotifyrc
root/home/hacker/knotifyrc
root/etc/skel/kconf_updaterc
root/root/kconf_updaterc
root/home/hacker/kconf_updaterc
root/etc/skel/gtkrc
root/root/gtkrc
root/home/hacker/gtkrc
root/etc/skel/dolphinrc
root/root/dolphinrc
root/home/hacker/dolphinrc
root/etc/skel/kioslaverc
root/root/kioslaverc
root/home/hacker/kioslaverc
root/etc/skel/kinfocenterrc
root/root/kinfocenterrc
root/home/hacker/kinfocenterrc
root/etc/skel/katesyntaxhighlightingrc
root/root/katesyntaxhighlightingrc
root/home/hacker/katesyntaxhighlightingrc
root/etc/skel/konsolerc
root/root/konsolerc
root/home/hacker/konsolerc
root/etc/skel/kiorc
root/root/kiorc
root/home/hacker/kiorc
root/etc/skel/knfsshare
root/root/knfsshare
root/home/hacker/knfsshare
root/etc/skel/gwenviewrc
root/root/gwenviewrc
root/home/hacker/gwenviewrc
root/etc/skel/knoderc
root/root/knoderc
root/home/hacker/knoderc
root/etc/skel/gtkrc-2.0
root/root/gtkrc-2.0
root/home/hacker/gtkrc-2.0
root/etc/skel/kuriikwsfilterrc
root/root/kuriikwsfilterrc
root/home/hacker/kuriikwsfilterrc
root/etc/skel/oxygenrc
root/root/oxygenrc
root/home/hacker/oxygenrc
root/etc/skel/kfilemodulerc
root/root/kfilemodulerc
root/home/hacker/kfilemodulerc
root/etc/skel/kcmfonts
root/root/kcmfonts
root/home/hacker/kcmfonts
root/etc/skel/kdedrc
root/root/kdedrc
root/home/hacker/kdedrc
root/etc/skel/kwriterc
root/root/kwriterc
root/home/hacker/kwriterc
root/etc/skel/yakuake.notifyrc
root/root/yakuake.notifyrc
root/home/hacker/yakuake.notifyrc
root/etc/skel/katepartpluginsrc
root/root/katepartpluginsrc
root/home/hacker/katepartpluginsrc
root/etc/skel/krusaderrc
root/root/krusaderrc
root/home/hacker/krusaderrc
root/etc/skel/kwinrc
root/root/kwinrc
root/home/hacker/kwinrc
root/etc/skel/phonondevicesrc
root/root/phonondevicesrc
root/home/hacker/phonondevicesrc
root/etc/skel/ktrashrc
root/root/ktrashrc
root/home/hacker/ktrashrc
root/etc/skel/kglobalshortcutsrc
root/root/kglobalshortcutsrc
root/home/hacker/kglobalshortcutsrc
root/etc/skel/Recent_Colors
root/root/Recent_Colors
root/home/hacker/Recent_Colors
root/etc/skel/baloofilerc
root/root/baloofilerc
root/home/hacker/baloofilerc
root/etc/skel/kaccess.notifyrc
root/root/kaccess.notifyrc
root/home/hacker/kaccess.notifyrc
root/etc/skel/kdesurc
root/root/kdesurc
root/home/hacker/kdesurc
root/etc/skel/okularpartrc
root/root/okularpartrc
root/home/hacker/okularpartrc
root/etc/skel/baloofileinformationrc
root/root/baloofileinformationrc
root/home/hacker/baloofileinformationrc
root/etc/skel/kdeglobals
root/root/kdeglobals
root/home/hacker/kdeglobals
root/etc/skel/yakuakerc
root/root/yakuakerc
root/home/hacker/yakuakerc
root/etc/skel/kaccessrc
root/root/kaccessrc
root/home/hacker/kaccessrc
root/etc/skel/kdebugrc
root/root/kdebugrc
root/home/hacker/kdebugrc
root/etc/skel/systemsettingsrc
root/root/systemsettingsrc
root/home/hacker/systemsettingsrc
root/etc/skel/kwinrulesrc
root/root/kwinrulesrc
root/home/hacker/kwinrulesrc
root/etc/skel/klaunchrc
root/root/klaunchrc
root/home/hacker/klaunchrc
root/etc/skel/katescriptingrc
root/root/katescriptingrc
root/home/hacker/katescriptingrc
root/etc/skel/kcminputrc
root/root/kcminputrc
root/home/hacker/kcminputrc
root/etc/skel/kmailrc
root/root/kmailrc
root/home/hacker/kmailrc
root/etc/skel/kwalletrc
root/root/kwalletrc
root/home/hacker/kwalletrc
root/etc/skel/klipperrc
root/root/klipperrc
root/home/hacker/klipperrc
root/etc/skel/ksplashrc
root/root/ksplashrc
root/home/hacker/ksplashrc
root/etc/skel/kservicemenurc
root/root/kservicemenurc
root/home/hacker/kservicemenurc
root/etc/skel/kcookiejarrc
root/root/kcookiejarrc
root/home/hacker/kcookiejarrc
root/etc/skel/filetypesrc
root/root/filetypesrc
root/home/hacker/filetypesrc
root/etc/skel/plasmarc
root/root/plasmarc
root/home/hacker/plasmarc
root/etc/skel/drkonqirc
root/root/drkonqirc
root/home/hacker/drkonqirc
root/etc/skel/kateschemarc
root/root/kateschemarc
root/home/hacker/kateschemarc
root/etc/skel/kio_httprc
root/root/kio_httprc
root/home/hacker/kio_httprc
root/etc/skel/mailtransports
root/root/mailtransports
root/home/hacker/mailtransports
root/etc/skel/katerc
root/root/katerc
root/home/hacker/katerc
root/etc/skel/gtkrc
root/root/gtkrc
root/home/hacker/gtkrc
root/etc/skel/gtkrc-2.0
root/root/gtkrc-2.0
root/home/hacker/gtkrc-2.0
root/etc/skel/kcmfonts
root/root/kcmfonts
root/home/hacker/kcmfonts
root/etc/skel/kwriterc
root/root/kwriterc
root/home/hacker/kwriterc
root/etc/skel/kdeglobals
root/root/kdeglobals
root/home/hacker/kdeglobals
root/etc/skel/settings.conf
root/root/settings.conf
root/home/hacker/settings.conf
root/etc/skel/rc.xml
root/root/rc.xml
root/home/hacker/rc.xml
root/etc/skel/notifications.conf
root/root/notifications.conf
root/home/hacker/notifications.conf
root/etc/skel/panel.conf
root/root/panel.conf
root/home/hacker/panel.conf
root/etc/skel/globalkeyshortcuts.conf
root/root/globalkeyshortcuts.conf
root/home/hacker/globalkeyshortcuts.conf
root/etc/skel/desktop.conf
root/root/desktop.conf
root/home/hacker/desktop.conf
root/etc/skel/power.conf
root/root/power.conf
root/home/hacker/power.conf
root/etc/skel/lxqt-runner.conf
root/root/lxqt-runner.conf
root/home/hacker/lxqt-runner.conf
root/etc/skel/session.conf
root/root/session.conf
root/home/hacker/session.conf
root/etc/skel/appswitcher.conf
root/root/appswitcher.conf
root/home/hacker/appswitcher.conf
root/etc/skel/windowmanagers.conf
root/root/windowmanagers.conf
root/home/hacker/windowmanagers.conf
root/etc/skel/lxqt-powermanagement.conf
root/root/lxqt-powermanagement.conf
root/home/hacker/lxqt-powermanagement.conf
root/etc/skel/lxqt.conf
root/root/lxqt.conf
root/home/hacker/lxqt.conf
root/etc/skel/pavucontrol.ini
root/root/pavucontrol.ini
root/home/hacker/pavucontrol.ini
root/etc/skel/smplayer.ini
root/root/smplayer.ini
root/home/hacker/smplayer.ini
root/etc/skel/styles.ass
root/root/styles.ass
root/home/hacker/styles.ass
root/etc/skel/whitelist.txt
root/root/whitelist.txt
root/home/hacker/whitelist.txt
root/etc/skel/razor-confupdate.conf
root/root/razor-confupdate.conf
root/home/hacker/razor-confupdate.conf
root/etc/skel/notifications.conf
root/root/notifications.conf
root/home/hacker/notifications.conf
root/etc/skel/razor.conf
root/root/razor.conf
root/home/hacker/razor.conf
root/etc/skel/globalkeyshortcuts.conf
root/root/globalkeyshortcuts.conf
root/home/hacker/globalkeyshortcuts.conf
root/etc/skel/desktop.conf
root/root/desktop.conf
root/home/hacker/desktop.conf
root/etc/skel/razor-runner.conf
root/root/razor-runner.conf
root/home/hacker/razor-runner.conf
root/etc/skel/power.conf
root/root/power.conf
root/home/hacker/power.conf
root/etc/skel/panel.conf
root/root/panel.conf
root/home/hacker/panel.conf
root/etc/skel/session.conf
root/root/session.conf
root/home/hacker/session.conf
root/etc/skel/appswitcher.conf
root/root/appswitcher.conf
root/home/hacker/appswitcher.conf
root/etc/skel/windowmanagers.conf
root/root/windowmanagers.conf
root/home/hacker/windowmanagers.conf
root/etc/skel/deskicons.conf
root/root/deskicons.conf
root/home/hacker/deskicons.conf
root/etc/skel/razor-autosuspend.conf
root/root/razor-autosuspend.conf
root/home/hacker/razor-autosuspend.conf
root/etc/skel/en_GB.exc
root/root/en_GB.exc
root/home/hacker/en_GB.exc
root/etc/skel/en_US.exc
root/root/en_US.exc
root/home/hacker/en_US.exc
root/etc/skel/en_US.dic
root/root/en_US.dic
root/home/hacker/en_US.dic
root/etc/skel/en_GB.dic
root/root/en_GB.dic
root/home/hacker/en_GB.dic
root/etc/skel/qterminal.ini
root/root/qterminal.ini
root/home/hacker/qterminal.ini
root/etc/skel/lxqt-appswitcher.desktop
root/root/lxqt-appswitcher.desktop
root/home/hacker/lxqt-appswitcher.desktop
root/etc/skel/qjackctl.desktop
root/root/qjackctl.desktop
root/home/hacker/qjackctl.desktop
root/etc/skel/yakuake.desktop
root/root/yakuake.desktop
root/home/hacker/yakuake.desktop
root/etc/skel/xscreensaver-daemon.desktop
root/root/xscreensaver-daemon.desktop
root/home/hacker/xscreensaver-daemon.desktop
root/etc/skel/nm-applet.desktop
root/root/nm-applet.desktop
root/home/hacker/nm-applet.desktop
root/etc/skel/copyq.desktop
root/root/copyq.desktop
root/home/hacker/copyq.desktop
root/etc/skel/killswitch-applet.desktop
root/root/killswitch-applet.desktop
root/home/hacker/killswitch-applet.desktop
root/etc/skel/blueman-manager.desktop
root/root/blueman-manager.desktop
root/home/hacker/blueman-manager.desktop
root/etc/skel/caffeine.desktop
root/root/caffeine.desktop
root/home/hacker/caffeine.desktop
root/etc/skel/gnote.desktop
root/root/gnote.desktop
root/home/hacker/gnote.desktop
root/etc/skel/qasmixer.desktop
root/root/qasmixer.desktop
root/home/hacker/qasmixer.desktop
root/etc/skel/gnome-keyring-daemon.desktop
root/root/gnome-keyring-daemon.desktop
root/home/hacker/gnome-keyring-daemon.desktop
root/etc/skel/obexd-server.desktop
root/root/obexd-server.desktop
root/home/hacker/obexd-server.desktop
root/etc/skel/pasystray.desktop
root/root/pasystray.desktop
root/home/hacker/pasystray.desktop
root/etc/skel/Launch
root/root/Launch
root/home/hacker/Launch
root/etc/skel/iBus.desktop
root/root/iBus.desktop
root/home/hacker/iBus.desktop
root/etc/skel/global.ini
root/root/global.ini
root/home/hacker/global.ini
root/etc/skel/manifest.xml
root/root/manifest.xml
root/home/hacker/manifest.xml
root/etc/skel/copyq.conf
root/root/copyq.conf
root/home/hacker/copyq.conf
root/etc/skel/settings.ini
root/root/settings.ini
root/home/hacker/settings.ini
root/etc/skel/gtkfilechooser.ini
root/root/gtkfilechooser.ini
root/home/hacker/gtkfilechooser.ini
root/etc/skel/fonts.conf
root/root/fonts.conf
root/home/hacker/fonts.conf
root/etc/skel/user
root/root/user
root/home/hacker/user
root/etc/skel/QjackCtl.conf
root/root/QjackCtl.conf
root/home/hacker/QjackCtl.conf
root/etc/skel/redirection-to-jamin.xml
root/root/redirection-to-jamin.xml
root/home/hacker/redirection-to-jamin.xml
root/etc/skel/backenddb.xml
root/root/backenddb.xml
root/home/hacker/backenddb.xml
root/etc/skel/backenddb.xml
root/root/backenddb.xml
root/home/hacker/backenddb.xml
root/etc/skel/log.txt
root/root/log.txt
root/home/hacker/log.txt
root/etc/skel/backenddb.xml
root/root/backenddb.xml
root/home/hacker/backenddb.xml
root/etc/skel/backenddb.xml
root/root/backenddb.xml
root/home/hacker/backenddb.xml
root/etc/skel/lastsynchronized
root/root/lastsynchronized
root/home/hacker/lastsynchronized
root/etc/skel/Linux_X86_64rc
root/root/Linux_X86_64rc
root/home/hacker/Linux_X86_64rc
root/etc/skel/unorc
root/root/unorc
root/home/hacker/unorc
root/etc/skel/backenddb.xml
root/root/backenddb.xml
root/home/hacker/backenddb.xml
root/etc/skel/common_.rdb
root/root/common_.rdb
root/home/hacker/common_.rdb
root/etc/skel/Linux_X86_64.rdb
root/root/Linux_X86_64.rdb
root/home/hacker/Linux_X86_64.rdb
root/etc/skel/common.rdb
root/root/common.rdb
root/home/hacker/common.rdb
root/etc/skel/Linux_X86_64_.rdb
root/root/Linux_X86_64_.rdb
root/home/hacker/Linux_X86_64_.rdb
root/etc/skel/backenddb.xml
root/root/backenddb.xml
root/home/hacker/backenddb.xml
root/etc/skel/backenddb.xml
root/root/backenddb.xml
root/home/hacker/backenddb.xml
root/etc/skel/Filter.xcu
root/root/Filter.xcu
root/home/hacker/Filter.xcu
root/etc/skel/configmgr.ini
root/root/configmgr.ini
root/home/hacker/configmgr.ini
root/etc/skel/backenddb.xml
root/root/backenddb.xml
root/home/hacker/backenddb.xml
root/etc/skel/Addons.xcu
root/root/Addons.xcu
root/home/hacker/Addons.xcu
root/etc/skel/Paths.xcu
root/root/Paths.xcu
root/home/hacker/Paths.xcu
root/etc/skel/Addons.xcu
root/root/Addons.xcu
root/home/hacker/Addons.xcu
root/etc/skel/SunPresentationMinimizer.xcu
root/root/SunPresentationMinimizer.xcu
root/home/hacker/SunPresentationMinimizer.xcu
root/etc/skel/OptionsDialog.xcu
root/root/OptionsDialog.xcu
root/home/hacker/OptionsDialog.xcu
root/etc/skel/Addons.xcu
root/root/Addons.xcu
root/home/hacker/Addons.xcu
root/etc/skel/Linguistic.xcu
root/root/Linguistic.xcu
root/home/hacker/Linguistic.xcu
root/etc/skel/backenddb.xml
root/root/backenddb.xml
root/home/hacker/backenddb.xml
root/etc/skel/extensions.pmap
root/root/extensions.pmap
root/home/hacker/extensions.pmap
root/etc/skel/buildid
root/root/buildid
root/home/hacker/buildid
root/etc/skel/lastsynchronized
root/root/lastsynchronized
root/home/hacker/lastsynchronized
root/etc/skel/backenddb.xml
root/root/backenddb.xml
root/home/hacker/backenddb.xml
root/etc/skel/backenddb.xml
root/root/backenddb.xml
root/home/hacker/backenddb.xml
root/etc/skel/script.xlc
root/root/script.xlc
root/home/hacker/script.xlc
root/etc/skel/dialog.xlc
root/root/dialog.xlc
root/home/hacker/dialog.xlc
root/etc/skel/dialog.xlb
root/root/dialog.xlb
root/home/hacker/dialog.xlb
root/etc/skel/Module1.xba
root/root/Module1.xba
root/home/hacker/Module1.xba
root/etc/skel/script.xlb
root/root/script.xlb
root/home/hacker/script.xlb
root/etc/skel/pspfontcache
root/root/pspfontcache
root/home/hacker/pspfontcache
root/etc/skel/sg30.thm
root/root/sg30.thm
root/home/hacker/sg30.thm
root/etc/skel/sg30.sdv
root/root/sg30.sdv
root/home/hacker/sg30.sdv
root/etc/skel/registrymodifications.xcu
root/root/registrymodifications.xcu
root/home/hacker/registrymodifications.xcu
root/etc/skel/hatching.soh
root/root/hatching.soh
root/home/hacker/hatching.soh
root/etc/skel/html.soc
root/root/html.soc
root/home/hacker/html.soc
root/etc/skel/standard.sog
root/root/standard.sog
root/home/hacker/standard.sog
root/etc/skel/standard.soe
root/root/standard.soe
root/home/hacker/standard.soe
root/etc/skel/cmyk.soc
root/root/cmyk.soc
root/home/hacker/cmyk.soc
root/etc/skel/web.soc
root/root/web.soc
root/home/hacker/web.soc
root/etc/skel/scribus.soc
root/root/scribus.soc
root/home/hacker/scribus.soc
root/etc/skel/styles.sod
root/root/styles.sod
root/home/hacker/styles.sod
root/etc/skel/classic.sog
root/root/classic.sog
root/home/hacker/classic.sog
root/etc/skel/standard.soc
root/root/standard.soc
root/home/hacker/standard.soc
root/etc/skel/libreoffice.soc
root/root/libreoffice.soc
root/home/hacker/libreoffice.soc
root/etc/skel/javasettings_Linux_X86_64.xml
root/root/javasettings_Linux_X86_64.xml
root/home/hacker/javasettings_Linux_X86_64.xml
root/etc/skel/standard.sod
root/root/standard.sod
root/home/hacker/standard.sod
root/etc/skel/standard.soh
root/root/standard.soh
root/home/hacker/standard.soh
root/etc/skel/autotbl.fmt
root/root/autotbl.fmt
root/home/hacker/autotbl.fmt
root/etc/skel/tango.soc
root/root/tango.soc
root/home/hacker/tango.soc
root/etc/skel/modern.sog
root/root/modern.sog
root/home/hacker/modern.sog
root/etc/skel/arrowhd.soe
root/root/arrowhd.soe
root/home/hacker/arrowhd.soe
root/etc/skel/gallery.soc
root/root/gallery.soc
root/home/hacker/gallery.soc
root/etc/skel/palette.soc
root/root/palette.soc
root/home/hacker/palette.soc
root/etc/skel/standard.sob
root/root/standard.sob
root/home/hacker/standard.sob
root/etc/skel/mytexts.bau
root/root/mytexts.bau
root/home/hacker/mytexts.bau
root/etc/skel/biblio.dbf
root/root/biblio.dbf
root/home/hacker/biblio.dbf
root/etc/skel/biblio.dbt
root/root/biblio.dbt
root/home/hacker/biblio.dbt
root/etc/skel/evolocal.odb
root/root/evolocal.odb
root/home/hacker/evolocal.odb
root/etc/skel/biblio.odb
root/root/biblio.odb
root/home/hacker/biblio.odb
root/etc/skel/%gconf.xml
root/root/%gconf.xml
root/home/hacker/%gconf.xml
root/etc/skel/%gconf.xml
root/root/%gconf.xml
root/home/hacker/%gconf.xml
root/etc/skel/%gconf.xml
root/root/%gconf.xml
root/home/hacker/%gconf.xml
root/etc/skel/%gconf.xml
root/root/%gconf.xml
root/home/hacker/%gconf.xml
root/etc/skel/%gconf.xml
root/root/%gconf.xml
root/home/hacker/%gconf.xml
root/etc/skel/%gconf.xml
root/root/%gconf.xml
root/home/hacker/%gconf.xml
root/etc/skel/%gconf.xml
root/root/%gconf.xml
root/home/hacker/%gconf.xml
root/etc/skel/%gconf.xml
root/root/%gconf.xml
root/home/hacker/%gconf.xml
root/etc/skel/430cfb47afa440fca7667890e2f39b88-unix-0
root/root/430cfb47afa440fca7667890e2f39b88-unix-0
root/home/hacker/430cfb47afa440fca7667890e2f39b88-unix-0
root/etc/skel/argb-apps.conf
root/root/argb-apps.conf
root/home/hacker/argb-apps.conf
root/etc/skel/qasmixer.conf
root/root/qasmixer.conf
root/home/hacker/qasmixer.conf
root/etc/skel/vlcrc
root/root/vlcrc
root/home/hacker/vlcrc
root/etc/skel/Trolltech.conf
root/root/Trolltech.conf
root/home/hacker/Trolltech.conf
root/etc/skel/qBittorrent.conf
root/root/qBittorrent.conf
root/home/hacker/qBittorrent.conf
root/etc/skel/compton.conf
root/root/compton.conf
root/home/hacker/compton.conf
root/etc/skel/.Xresources
root/root/.Xresources
root/home/hacker/.Xresources
root/etc/skel/.directory
root/root/.directory
root/home/hacker/.directory
