[Unit]
Description=Discard unused blocks once a day
Documentation=man:fstrim

[Timer]
OnCalendar=daily
AccuracySec=1h
Persistent=true
Unit=fstrim.service

[Install]
WantedBy=timers.target
