[Unit]
Description=Display Manager
Documentation=man:lightdm(1)
After=systemd-user-sessions.service network.target YaST2-Firstboot.service
Conflicts=xdm.service gdm.service kdm.service lxdm.service slim.service

[Service]
ExecStart=/usr/sbin/lightdm
Restart=always
IgnoreSIGPIPE=no
BusName=org.freedesktop.DisplayManager

[Install]
Alias=displaymanager.service
WantedBy=graphical.target
