# forcing default multi-queue I/O schedulers: bfq for HDDs and kyber (said to be similar to fq-codel network scheduler) for the rest
# https://lwn.net/Articles/720675/

# can bfq be trusted after its ridiculous linux-4.15 fail ? nowadays it may be that bfq only brings up random-access latency or completely fails
#ACTION=="add|change", KERNEL=="sd*[!0-9]", ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="bfq"
ACTION=="add|change", KERNEL=="sd*[!0-9]", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="kyber"
